*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b08d27;
    display: flex;
    justify-content: center;
}

#main-container{
    width: 40vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
}


#header{
    font-size: 5rem;
    color: #B04927;
    text-align: center;
}

#board-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 5px;
}

#board-container div{
    background-color: white;
    height: auto;
    width: auto;
    font-size: 10rem;
    text-align: center;
    color: #B04927;
}

#button-container{

}

#status-footer{
    color: black;
    font-size: 2rem;
    padding-top: 10px;
    text-align: center;
}